#labelValorVenda {
    font-size: 5.3vw;
}

@media screen and (min-width: 768px) {
    #labelValorVenda {
        font-size: 4.1vw;
    }
}
@media screen and (min-width: 1024px) {
    #labelValorVenda {
        font-size: 3.4vw;
    }
}
@media screen and (min-width: 1366px) {
    #labelValorVenda {
        font-size: 1.8vw;
    }
}