@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Fjalla One", Arial, Helvetica, sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  --cor1: rgb(39, 134, 223);
}
body {
  background-color: rgb(34, 34, 49);
  width: 100%;
  height: 100vh;
}
header #headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 4vw;
  width: 100%;
  height: 9vw;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: rgb(22, 22, 31);
  color: var(--cor1);
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.575);
}
header #logoEmpresa {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  font-weight: bold;
}
header #logoEmpresa img {
  width: 6vw;
  border-radius: 50%;
}
header nav {
  display: flex;
  gap: 3vw;
}
header nav > a {
  text-decoration: none;
  color: rgb(94, 177, 255);
  transition: color 0.2s;
}
header nav > a:hover {
  color: rgb(185, 221, 255);
  transition: color 0.2s;
}
header #headerH1 {
  font-variant: small-caps;
  padding: 7vw;
  text-align: center;
  background-color: rgb(25, 25, 41);
  color: rgb(209, 226, 243);
  font-size: 5vw;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.09);
}

div#linhaDivisao {
  margin: 10px auto;
  background-color: rgba(22, 22, 31, 0.486);
  height: 2px;
  width: 97%;
  border-radius: 7px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
  margin: auto;
  width: 90%;
  color: rgb(209, 226, 243);
}
main div#calcularPorcentagem {
  background-color: rgb(25, 25, 41);
  border: 1px solid rgba(0, 81, 255, 0.432);
}
main p#tituloFormula {
  width: 100%;
  box-sizing: border-box;
  font-variant: small-caps;
  font-size: 7vw;
  padding: 1.5vw 3vw;
  background-color: rgb(22, 22, 31);
  color: var(--cor1);
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.575);
}
main form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
  padding: 3vw;
}
main form > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 6vw;
}
main input {
  background-color: rgb(53, 53, 68);
  border: none;
  color: rgb(209, 226, 243);
  width: 60%;
  height: 5.4vw;
  font-size: 3.5vw;
  padding: 1vw;
  box-sizing: border-box;
}
main input:focus {
  outline: 1px solid rgb(153, 153, 165);
  transition: 1s;
}
main input::placeholder {
  opacity: 0.8;
  font-size: 3.5vw;
  text-align: center;
}
main form input[type="button"] {
  width: 100%;
  font-size: 3.5vw;
  border: none;
  padding: 0.7vw;
  border-radius: 1.5vw;
  color: white;
  background-color: var(--cor1);
  transition: 0.2s;
  margin-top: 2vw;
}
main form button:hover {
  color: rgb(35, 60, 99);
  background-color: rgb(100, 176, 247);
  transition: 0.2s;
}
main section#resultado {
  display: none;
  margin: auto;
  width: 100%;
  color: rgb(209, 226, 243);
  background-color: rgb(25, 25, 41);
  border: 1px solid rgba(0, 81, 255, 0.432);
}
main section#resultado p#tituloResultado {
  width: 100%;
  box-sizing: border-box;
  font-variant: small-caps;
  font-size: 6.25vw;
  padding: 1vw 3vw;
  background-color: rgb(22, 22, 31);
  color: var(--cor1);
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.575);
}
main section#resultado p#resultado {
  font-size: 5.3vw;
  padding: 3vw;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(209, 226, 243);
}

/* Media Querys */

/* Para telas com 768px de largura ou mais */
@media screen and (min-width: 768px) {
  header #headerContainer {
    height: 6vw;
    font-size: 3vw;
  }
  header #logoEmpresa {
    gap: 1.5vw;
  }
  header #logoEmpresa img {
    width: 4.5vw;
  }
  header #headerH1 {
    padding: 4.5vw;
    font-size: 3.5vw;
  }

  div#linhaDivisao {
    height: 5px;
    margin: 20px auto;
  }

  main {
    width: 70%;
    gap: 2.5vw;
  }
  main div#calcularPorcentagem {
    border: 2px solid rgba(0, 81, 255, 0.432);
  }
  main p#tituloFormula {
    font-size: 4.3vw;
    padding: 1vw 2vw;
  }
  main form {
    gap: 1vw;
    padding: 2vw;
  }
  main form > section {
    font-size: 3.8vw;
  }
  main input {
    height: 4vw;
    font-size: 3vw;
    padding: 1vw;
  }
  main input:focus {
    outline: 2px solid rgb(153, 153, 165);
  }
  main input::placeholder {
    font-size: 2.5vw;
  }
  main form input[type="button"] {
    font-size: 2.2vw;
    padding: 0.5vw;
    border-radius: 1vw;
  }
  main section#resultado {
    border: 2px solid rgba(0, 81, 255, 0.432);
  }
  main section#resultado p#tituloResultado {
    font-size: 4.1vw;
    padding: 1vw 2vw;
  }
  main section#resultado p#resultado {
    font-size: 3.8vw;
    padding: 2vw;
  }
}

/* Para telas com 1024px de largura ou mais */
@media screen and (min-width: 1024px) {
  header #headerContainer {
    height: 3.8vw;
    font-size: 2vw;
  }
  header #logoEmpresa {
    gap: 1vw;
  }
  header #logoEmpresa img {
    width: 3vw;
  }
  header #headerH1 {
    padding: 2.5vw;
    font-size: 3vw;
  }

  div#linhaDivisao {
    height: 5px;
    margin: 20px auto;
  }

  main {
    width: 70%;
    gap: 2vw;
  }
  main p#tituloFormula {
    font-size: 3.8vw;
    padding: 0.7vw 1.6vw;
  }
  main form {
    gap: 0.6vw;
    padding: 1.6vw;
  }
  main form > section {
    font-size: 3.5vw;
  }
  main input {
    height: 3.5vw;
    font-size: 2.5vw;
    padding: 1vw;
  }
  main input::placeholder {
    font-size: 2.2vw;
  }
  main form input[type="button"] {
    font-size: 2vw;
    padding: 0.4vw;
  }
  main section#resultado p#tituloResultado {
    font-size: 3.4vw;
    padding: 0.7vw 1.6vw;
  }
  main section#resultado p#resultado {
    font-size: 3.5vw;
    padding: 1.5vw;
  }
}

/* Para telas com 1366px de largura ou mais */
@media screen and (min-width: 1366px) {
  header #headerContainer {
    height: 2.7vw;
    font-size: 1.4vw;
  }
  header #logoEmpresa {
    gap: 0.7vw;
  }
  header #logoEmpresa img {
    width: 2.2vw;
  }
  header #headerH1 {
    padding: 1.5vw;
    font-size: 2vw;
  }

  div#linhaDivisao {
    height: 5px;
    margin: 15px auto;
  }

  main {
    width: 60%;
    gap: 1.3vw;
  }
  main p#tituloFormula {
    font-size: 2.5vw;
    padding: 0.4vw 1vw;
  }
  main form {
    gap: 0.8vw;
    padding: 1vw;
  }
  main form > section {
    font-size: 2.5vw;
  }
  main input {
    height: 2.8vw;
    font-size: 2vw;
    padding: 0.7vw;
  }
  main input::placeholder {
    font-size: 1.7vw;
  }
  main form input[type="button"] {
    font-size: 1.6vw;
    padding: 0.2vw;
  }
  main section#resultado p#tituloResultado {
    font-size: 2.3vw;
    padding: 0.4vw 1vw;
  }
  main section#resultado p#resultado {
    font-size: 2.5vw;
    padding: 1.3vw;
  }
}